body {
    background-color:rgb(213,173 ,235);
    color: white;
    font-family: "Permanent Marker", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:rgb(251,206,255 ) ;
    color: black;
    font-family: "Permanent Marker", cursive;
}


.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 50%;
}